asgiref==3.8.1
Django==5.1.6
pillow==11.1.0
sqlparse==0.5.3
tzdata==2025.1
Django>=4.2
djangorestframework>=3.14
psycopg2-binary>=2.9
Pillow>=10.0
transformers>=4.38
torch>=2.2
requests>=2.31
python-dotenv>=1.0
